@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800;900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe791;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  color: #FFF;
  margin-top: auto;
  width: 100%;
}

.container {
  width: 90%;
}

.nav-right {
  width: 100%;
}

.brand-name {
    color: rgb(255, 203, 20);
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

.brand-name-dot {
    color: rgb(255, 1, 162);
}

.brand-name-lastname {
    color: rgb(224, 140, 221);
}

.navbar {
  background-color: rgb(21, 2, 74);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-right {
  display: flex;
  width: 100%; /* Stretch to the full available width */
  justify-content: flex-end; /* Align links to the right */
  margin-right: 40px;
}

.nav-right a {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255, 203, 20);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: rgb(224, 140, 196);
}

.navbar .toggle-btn {
  color: rgb(224, 140, 196);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  padding-right: 40px;
}

/* DROPDOWN MENU */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 200px;
  background: none;
  background-color: rgba(255, 227, 128);
  
 
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 600;
}

@supports (backdrop-filter: blur(15px)) {
  .dropdown_menu {
  background-color: rgba(255, 227, 128, 0.475);
  backdrop-filter: blur(15px);
}
}

.dropdown_menu.open {
  height: 100vh;
  color: #ffcb14;
  z-index: 600;
  
}

.dropdown_menu li {
  
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  text-decoration: none;
  color: rgba(21, 2, 74);
  font-size: 1rem;
  background-color: none;
  padding: 7px;
}



.background-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 150; 
}

a {
  text-decoration: none;
  color: #ffcb14;
  font-size: 1rem;
  background-color: none;
  padding: 7px;
  border-radius: 14px;
}

.dropdown_menu a:hover {
  color: rgba(255, 227, 128);;
  padding: 7px;
  border-radius: 0%;
  background-color: rgb(21, 2, 74);
}

/*END OF FA-BAR */


header {
    padding-top: 60px;
}





.nav-right {
    display: flex; 
}

h2 {
  text-align: center;
}

.objective-container li, h3, h4 {
  color: rgb(21, 2, 74);
}



#back-to-top {
  display: inline-block; 
  left: 50%; 
  bottom: 10px; 
  background-color: #b8a7d6; 
  color: rgb(238, 218, 37); 
  cursor: pointer; 
  padding: 10px; 
  border: 2px solid rgb(191, 150, 3); 
  border-radius: 50%; 
  text-align: center; 
  font-size: 24px; 
  line-height: 30px; 
  text-decoration: none; 
  margin-bottom: 30px;
  z-index: 200;
}

.back-to-top-container {
  display: flex;
  justify-content: center;
  
}

#back-to-top:hover {
  background-color: #555; 
}

a {
  text-decoration: none;
  color: rgba(21, 2, 74);
  font-size: 1rem;
  background-color: none;
  padding: 7px;
  border-radius: 14px;
}

a:hover {
  color: rgb(220, 46, 156);
}

.footer {
  text-align: center;
  color: rgba(21, 2, 74);
  width: 100%;
}

p {
  color: rgba(21, 2, 74);
}





.objective-container {
  width: 80%;
  margin: 0 auto; 
}

#back-to-top {
  display: inline-block; 
  left: 50%; 
  bottom: 10px; 
  background-color: #b8a7d6; 
  color: rgb(238, 218, 37); 
  cursor: pointer; 
  padding: 10px; 
  border: 2px solid rgb(191, 150, 3); 
  border-radius: 50%; 
  text-align: center; 
  font-size: 24px; 
  line-height: 30px; 
  text-decoration: none; 
  margin-top: 60px;
  margin-bottom: 30px;
  z-index: 200;
}


.back-to-top-container {
  display: flex;
  justify-content: center;
  
}

#back-to-top:hover {
  background-color: #555; 
}

/* CONTACT */

.container {
  max-width: 600px;
  margin: 50px auto; 
  padding: 20px; 
  background-color: rgba(21, 2, 74);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


h2 {
  text-align: center;
  color: rgb(228, 182, 15);
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  color: rgb(224, 140, 196);
}


input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 96%; 
  min-width: 96%;
  max-width: 96%;
  margin: 0 auto; 
  background-color: #fff2c3;
  padding: 10px;
  border: 1px solid rgb(220, 46, 156);
  border-radius: 5px;
}

textarea {
  min-height: 80px;
}

button[type="submit"] {
  display: block;
  width: 100%; 
  margin: 0 auto; 
  padding: 10px;
  background-color: rgb(220, 46, 156);
  color: rgba(21, 2, 74);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}


button[type="submit"]:hover {
  background-color: rgb(180, 1, 115);
  color: rgb(252, 218, 21);
}


@media only screen and (max-width: 1110px) {
  
.container {
  max-width: 500px;
  margin: 40px auto; 
  padding: 15px;   
}

h2 {
  font-size: 20px;
}

.form-group {
  margin-bottom: 40px;
}

button[type="submit"] {
  font-size: 15px;
}

label {
  font-size: 14px;
}

p {
  font-size: 13px;
}

  } 

@media only screen and (max-width: 830px) {
  
  .navbar .toggle-btn {
    display: block;
  }

  .navbar .nav-right  {
    display: none; 
  }

  .navbar .dropdown_menu {
    display: block;
  }

  .container {
    max-width: 500px;
    margin: 40px auto; 
    padding: 15px;   
  }
  
  h2 {
    font-size: 18px;
  }
  
  label {
    font-size: 14px;
  }
  
  p {
    font-size: 12px;
  }

}

@media only screen and (max-width: 675px) {

  .container {
    max-width: 80%;
    margin: 50px auto; 
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 95%; 
    min-width: 95%;
    max-width: 95%;
  }

}

@media only screen and (max-width: 492px) {

 

 .footer p {
    font-size: 12px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 93%; 
    min-width: 93%;
    max-width: 93%;
  }

}


